<%- include('Partials/header') %>
<%- include ('Partials/navbar') %>
  <h1>Card Stores in <%= city.toUpperCase() %></h1>

  <ul>
    <% stores.forEach(store => { %>
      <li>
        <strong><%= store.name %></strong> — <%= store.city %>
      </li>
    <% }) %>
  </ul>

  <br>
  <a href="/findastore/find">Pick Another City? :o</a>
  <br><br>
  <a href="/">Home</a>
<%- include('Partials/header') %>
