<% // basic error stack code %>

<%- include("Partials/header") %>
<%- include("Partials/navbar") %>
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
<%- include("Partials/footer") %>