<!--the landing page/homepage code-->

<%- include('Partials/header') %>
<%- include("Partials/navbar")%>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>If you are Tournament Host and are already registered with us, please proceed to "Create A Tournament" in order to setup your event!</p>
    <p>If you are a player, check out our Store Locator to find Locals near you, or head over to Register in order to sign up for a tournament!</p>

    <%- include('Partials/footer') %>
