<%- include('Partials/header') %>
<%- include ('Partials/navbar') %>
  <h1>Pick a City :3</h1>

  <% cities.forEach(c => { %>
    <form action="/findastore/<%= c %>">
      <button><%= c.toUpperCase() %></button>
    </form>
  <% }); %>

  <br>
  <a href="/">Home</a>
<%- include('Partials/footer') %>
